@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: "Mukta", sans-serif;
  background-color: var(--fiverr-light-green);
  color: #fff;
  /* font-family: 'Poppins', sans-serif; */
}
/* Global Colors */
:root {
  --primary-violate: #4d4dff;
  --fiverr-light-green: #1dbf73;
  --azure-blue: #007fff;
  --orange: orangered;
}
/* Utility Classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
